
examples/*/.floyd/logs/*
examples/*/.floyd/tmp/*
examples/*/.floyd/sessions-store.json

examples/*/*/.floyd/logs/*
examples/*/*/.floyd/tmp/*
examples/*/*/.floyd/sessions-store.json

examples/dnode-cluster/workers/backend

examples/dnode-cluster/workers/*/.floyd/logs/*
examples/dnode-cluster/workers/*/.floyd/tmp/*
examples/dnode-cluster/workers/*/.floyd/sessions-store.json
examples/dnode-cluster/workers/*/.app.js

.project
.floyd

node_modules/

tmp/

.nide
.idea
*.sln

*.komodoproject
*.iml
