
examples/*/.floyd/logs/*
examples/*/.floyd/tmp/*
examples/*/.floyd/sessions-store.json

examples/*/*/.floyd/logs/*
examples/*/*/.floyd/tmp/*
examples/*/*/.floyd/sessions-store.json

.project

node_modules/

tmp/

.nide

*.komodoproject
