

.hidden {
    display: none;
}

/**
 *  Dialogs
 */
.gui.Popup > .modal {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:20000;
}
.gui.Popup > .modal div {
    width:100%;
    height:100%;
    background-color:#333;
    opacity:0.75;
}
.gui.Popup .popup-wrapper {
    position:fixed;
    top:0;
    left:0;
    display:table;
    width:100%;
    height:100%;
    z-index:20001;
}
.gui.Popup .popup-cell {
    display:table-cell;
    width:100%;
    height:100%;
    vertical-align:middle;
}

.gui.Popup .popup-frame {
    position:relative;
    margin:auto;
}


.gui.Popup .popup-box {
    position:relative;
    margin:auto;
    max-height:625px;
    overflow:auto;
    background:#fff;
    box-shadow:0px 0px 40px #a0a727;
    border:2px solid #40403d;
    border-radius:10px;
}

.gui.Popup .tiny .popup-box-wrapper {
  width: 350px;
}
.gui.Popup .narrow .popup-box-wrapper {
  width: 550px;
}
.gui.Popup .popup-box-wrapper {
  margin: auto;
  position: relative;
  width: 760px;
}
.gui.Popup .popup-box-wrapper > a.close {
  position: absolute;
  right: -8px;
  top: -8px;
  z-index: 100;
  background-color: #40403d;
  border-radius: 12px;
  padding: 2px;
  width: 21px;
  height: 21px;
}
.gui.Popup .popup-content {
    margin:15px;
}
.gui.Popup .popup-content .grid {
  width: 720px;
}
.gui.Popup .popup-content .link,
.gui.Popup .popup-content a {
  color: #a0a727 !important;
}
.gui.Popup .popup-content .link:hover,
.gui.Popup .popup-content a:hover {
  color: #434e25 !important;
}
.gui.Popup .popup-content h1 {
    margin-bottom:10px;
    color:#434e25;
    font:143% impact;
}
.gui.Popup .popup-content p {
    text-align:justify;
}
.gui.Popup .popup-content div.buttons {
    margin-top: 10px;
}
.gui.Popup .popup-content div.buttons .img-next {
    float: right;
}
.editor.Buttons {
  position: absolute;
  right: 3px;
  top: 3px;
  z-index: 100;
}
.editor.Buttons .items {
  position: relative;
  height: 100%;
  width: 100%;
}
.editor.Buttons a {
  margin: 2px;
  padding: 2px;
  float: left;
  border-radius: 5px;
  background-color: #eee;
  box-shadow: 0 0 8px #111;
  outline: none;
}
.editor.Buttons a:hover {
  background-color: #ff9400;
}
.editor.Buttons a img {
  border-radius: 3px;
}

section.upload.Button iframe,
section.upload.Button form,
section.upload.Button input.files {
  display: block;
  width: 0px;
  height: 0px;
  visibility: hidden;
}
section.upload.Status {
  width: 500px;
  height: 30px;
}
section.upload.Status .progress {
  border-radius: 3px;
  background-color: #f00;
  width: 0;
  height: 10px;
}
section.upload.Status .info {
  font-size: 80%;
  padding-top: 5px;
}
section.upload.Status .info .name {
  float: left;
}
section.upload.Status .info .value {
  float: right;
}

div.ComboBox {
    position: relative;
    display: inline-block;
}
div.ComboBox button.select {
    float: right;
}
div.ComboBox .dropdown {
    position: absolute;
    background: white;
    color: black;
    border: 1px solid black;
}
div.ComboBox .dropdown.left {
    left: 1px;
}
div.ComboBox .dropdown.right {
    right: 1px;
}
div.ComboBox .dropdown.down {
    top: 25px;
}
div.ComboBox .dropdown.up {
    bottom: 25px;
}
div.ComboBox .dropdown ul {
    padding: 0;
    margin: 0;
}
div.ComboBox .dropdown li {
    padding: 0 2px;
    list-style: none;
    cursor: pointer;
}
div.ComboBox .dropdown li:hover {
    background: black;
    color: white;
}