
* {
    
}

body {
    font-family: arial;
}

#navi {
    width: 215px;
}

#navi, .canvas {
    float: left;
}

#navi > ul, .canvas > ul {
    padding: 0;
    list-style: none;
}

.code {
    font-size: 12px;
    white-space: pre;
    font-family: monospace;
}

.code.folded {
    height: 17px;
    overflow: auto;
}

.code .function {

}

.code .params {

}

.code .class {

}

.code .title {
    
}

.code .property {

}

.code .attribute {

}

.code .string,
.code .number {
    color: #3000dd;
}

.code .keyword {
    color: #700050;
    font-weight: bold;
}





.doc {
    font-size: 14px;
    padding-left: 30px;
}